
body {
    margin-top: 1%;
    text-align: center;
} 

.header {
    margin-top: 1%;
    height: 20%;
    text-align: center;
    color: black;
    font-size: larger;
    background-color: blanchedalmond;
    border-bottom: 6px;

}
..col {
    font-size: 20px;
}
