body {
    min-height: 4000px;
    margin: 2px;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 0;
    background-color: greenyellow;
    margin: 5px;
}
.cart {
    display: inline-block;
    
}
.cart img {
    position: absolute;
    right: 15px;
    top: 1px;
    height: 60px;
    width: auto;
    margin: 10;
}
.text {
    position: relative;
    display: block;
    color: white;
    font-size: 40px;
    font-weight: bolder;
    margin: 10px;
    text-align: center;
}
.foot {
    background-color: rgb(185, 180, 180);
    display: block;
    text-align: center;
    margin: 3px;
    font-size: 20px;
    height: 20px;
    width: auto;
    padding: 20px;
}
.product {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 20px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.show {
    display: block;
    margin-top: 180px;
    padding: 10px;
}
h2 {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 20px;
}

footer {
position: fixed;
width: 100%;
left: 0;
bottom: 0;
}

header {
    margin-bottom: 2px;
    display: block;
}

.description {
    display: block;
    color: black;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.Basket {
    display: inline-block;
    background-color: rgb(189, 184, 184);
    color: black;
    padding: 12px;
    border-color: black;
    border: 3px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}